*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{
  height: 100px;
  background-image: url(img/background1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.logo{
  line-height: 100px;
  float: left;
  margin-top: 10px;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: black;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}


.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: darkslategray;
  font-size: 39px;
  margin-right: 50px;
  text-align: center;
  margin-left: 50px;
}
.title p{
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 36px;
}

.pagetwo{
  background-image: url(img/background2.jpg);
  background-color: grayscale;
  opacity: 70%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.about-section{
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 50%;
  float: right;
  padding: 110px;
  
}
.about-section img{
  width: 20%;
  height: 15%;
  line-height: 80px;
  float: left;
  margin-top: -90px;
}

.inner-container h1{
  padding-top: 5px 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: blue;
  margin-top: -90px
}

.inner-container p{
  font-size: 16.3px;
  color: black;
  text-align: justify;
  font-weight: bold;
  margin-bottom: 0px;
  top: 80%;
}


.pagethree{
  background-image: url(img/background3.jpg);
  background-color: grayscale;
  opacity: 80%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  height: 100px;
}

.green-column {
  height: 100px;
}

input[type=text], select, textarea {
  width: 94%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 2px; 
  box-sizing: border-box; 
  margin-top: 5px; 
  margin-bottom: 17px; 
  resize: vertical; 
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  padding: 20px;
}

.green-column img{
  width: 70%;
  height: 200%;
  float: center;
  margin-top: 50px;
  margin-left: 15px;
}

h1{
  text-align: center;
}

.green-column p{
  text-align: left;
  font-weight: bold;
  color: blue;
  margin-left: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

  